@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@font-face {
    font-family:'FonteLogo' ;
    src: url("../_fonts/bubblegum-sans-regular.otf");
}
p {                         /*TODO TIPO DE PARAGRAFO*/
    text-align: justify;
    text-indent: 50px;
}
a{                         /*TODO TIPO DE LINK*/
    color: #606060;
    text-decoration: none;
}
a:hover{                    /*TODO TIPO DE LINK QUANDO SE PASSA O MOUSE*/
    text-decoration: underline;
}
body{
    font-family: Arial,sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
    background-image:url("https://img.freepik.com/vetores-gratis/desenho-de-fundo-abstrato-branco_23-2148825582.jpg?size=626&ext=jpg&ga=GA1.1.1700460183.1712966400&semt=ais");
}
div#interface{ /*CONTEINER DAS INFORMAÇOES*/
    width: 1150px;
    background-color: #ffffff;
    margin: -20px auto 0px auto; /*cima, direita, baixo , esquerda*/
    box-shadow: 0px 0px 10px black;
    padding: 20px;/*descolar texto da margem*/
}

/*CABEÇALHO DO SITE  ================================================================================================================================================== */

header#cabecalho img#icone{/*icone oculos*/
    position: absolute; /*pode ser posto em qualquer lugar do site*/
    left: 1180px;
    top: 80px;
}
header#cabecalho{ /*TITULO PRA CIMA DA MARGEM*/
    border-bottom: 1px #606060 solid;/*divisao borda*/
    height: 150px; 
    background: url("/_imagens/glass-logo-peq.jpg")no-repeat 0px 80px;
}
header#cabecalho h1{ /*TODAS FRASE H1 DENTRO DO CABEÇALHO*/
    font-family: 'FonteLogo', sans-serif;
    font-size: 30px;
    color: #606060; /*TEXTO GOOGLE GLASS*/
    text-shadow: 1px 1px 1px rgba(0,0,0,.6) ;  /*SOMBRA DA LETRA*/
    margin-bottom: 0px;
}
header#cabecalho h2{/*TODAS FRASE H2 DENTRO DO CABEÇALHO*/
    font-family: "Titillium Web", sans-serif;
    color:#888888;
    margin-top: 0px;
}
/*==================================================================================================================================================================================*/


/* CONTEINER .FIGURE NO HTML ================================================================================================================================================== */

figure.fotolegenda{
    position: relative;/*posicao relativa junto a posicao html*/
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 4px black; /*sombra de borda*/
}
figure.fotolegenda img{/* FOCADO NA imagem */
    width: 100%;
    height: 100%;
}
figure.fotolegenda figcaption{ /*FOCADO SÓ NA LEGENDA*/
    opacity: 0;
    position: absolute; /*posicao absoluta dentro do figure*/
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4); /*fundo pra legenda*/
    color: white;
    width: 100%; /*preenche 100% o bloco dentro da foto*/
    height: 100%;/*preenche 100% o bloco dentro da foto*/
    padding: 10px;
    box-sizing: border-box; /*nao sai da borda*/
    transition: opacity 1s; /*demora um segundo para o mouse passar*/
}
figure.fotolegenda:hover figcaption{ /*AO PASSAR O MOUSE POR CIMA DA FOTO*/
    opacity: 1;
}
/*==================================================================================================================================================================================*/


/*CONTEINER MENU*===================================================================================================================================================================*/

nav#menu{
    display: block; /*deixa o menu como um bloco so, descola ele */ 
}
nav#menu ul{/*dentro do NAV COM IDmenu,so edito os conteudos de UL*/
    list-style: none;/*tira as bolinha da lista*/
    text-transform: uppercase;/*todas letras maiusculas*/
    position: absolute; /*livre pra por em qulquer canto do site*/ 
    top: -20px;
    left: 700px;    /*top e left ajusta a posição*/
}
nav#menu li{/*dentro do NAV, mecho nos conteudos de LI */
    display: inline-block;/*DISPLAY BLOCOS EM LINHA*/
    background-color: darkgrey;/*COR DO BLOCO*/
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;/*animação de transição pro HOVER*/
}
nav#menu li:hover{/*QUANDO PASSAR O MOUSE POR CIMA DA LISTA*/
    background-color: rgb(98, 98, 98);
}
nav#menu h1{ /*<h1>Menu Principal</h1>*/
    display: none;/*nao quero que apareça no site*/
}
nav#menu a{/*todo NAV que tenha IDmenu e que tenha link*/
    color: black;
    text-decoration: none;/*tira sublinhado*/
}
nav#menu a:hover{/*quando passa mouse : id menu -> link a -> palavra dentro */
    color: white;/*o texto fique branco*/
    text-decoration: underline;/*sublinhado volta*/
}
/*==================================================================================================================================================================================*/

section#corpo { /*PEGANDO A SECTION DO CORPO*/
    display: block;/*TRANSFORMO EM BLOCO*/
    width: 500px;
    float: left;
    border-right: 1px solid #606060 ;
    padding-right: 73px;
    
    
}
article#noticia-principal h2{ /*todos que estao dentro de article exceto o header Cabeçalho do artigo*/
    font-size: 13pt;
    color: #606060;
    background-color: #cecece;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}


header#cabecalho-artigo h1 {
    font-family: 'FonteLogo',sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}                                                                   /*header Cabeçalho do artigo TODOS h1 h2 e h3*/
header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin-top: 0px;
}
header#cabecalho-artigo h3 {
    font-size: 12px;
    color: #606060;
}
.h3direita{
   text-align: right;
}
/* TABELA DE Especificações Técnicas DENTRO DO CORPO =============================================================================================================================================================*/

table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;                   /*ESPAÇO ENTRE AS BORDAS*/
    margin-left: auto;
    margin-right: auto;             /*deixo centralizado com L E R */
}
table#tabelaspec td {/*Tudo que For TD DENTRO DA TABELA*/
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;   /*ALINHAMENTO HORIZONTAL*/
    vertical-align: top;  /*ALINHAMENTO VERTICAL*/
}
.ColuEsq { /*COLUNA DA ESQUERDA*/
    color: white;
    background-color: #606060;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ColuDir {/*COLUNA DA DIREITA*/
    background-color: #cecece;
}
table#tabelaspec caption{ /*ESCRITA Tabela Técnica do Google Glass*/
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}
table#tabelaspec caption span {/*Mar/2013 DENTRO DO CAPTION DA ESCRITA*/
    display: block; /*deixo como bloco*/
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
}
/* ===================================================================================================================================================================================================================================================================================== */
aside#lateral { /*LATERAL DIREITA*/
    display: block;
    width: 495px;
    float: right;
    padding-right: 10px; 
    background-color: #dddddd;
    padding: 10px ;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5) ;
    margin-left: 0px;
}
aside#lateral h1 {
    margin-top: 0px;
    font-family: 'FonteLogo',sans-serif;
    font-size: 20pt;
    color: #606060;
}
aside#lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 10px;
}
/*==================================================================================================================================================================================*/

div video#video {
    padding-left: 50px;
}



footer#rodape {/*RODAPÉ*/
    clear: both;
    border-top: 1px solid #606060;
}
footer#rodape p{/*PARÁGRAFOS DO RODAPÉ*/
    text-align: center;
}